[workspace]
resolver = '2'
members = [
	'apps/server',
	'libs/migration',
	'libs/entity',
	'apps/micro_url',
	'target/patch/utoipa-swagger-ui-9.0.0',
]

[workspace.dependencies]
axum = { version = "0.8", features = [
	'macros',
	'http1',
	'http2',
	'json',
	'multipart',
	'tracing',
	'form',
	'query',
] }
tokio = { version = "1", features = ["full"] }
utoipa = { version = "5.3", features = [
	"axum_extras",
	"auto_into_responses",
	"chrono",
	"config",
	"debug",
	"indexmap",
	"openapi_extensions",
	"preserve_order",
	"preserve_path_order",
	"rc_schema",
	"ulid",
	"url",
	"uuid",
] }
utoipa-axum = { version = "0.2", features = ["debug"] }

sea-orm = { version = '1.1.7', features = [
	'runtime-tokio-native-tls',
	'sqlx-postgres',
	'debug-print',
	'macros',
	'with-chrono',
	'with-json',
	'with-uuid',
	'postgres-array',
] }
sea-query = '0'
uuid = { version = '1.16.0', features = ['fast-rng'] }
async-std = { version = '1', features = ['attributes', 'tokio1'] }
serde = { version = '1', features = ['serde_derive', 'derive'] }
chrono = { version = '0.4', features = ['clock'] }
serde_json = '1'

[profile.release]
lto = true

[patch.crates-io]
utoipa-swagger-ui = { path = "./target/patch/utoipa-swagger-ui-9.0.0" }
