---
import Layout from '@/layouts/Layout.astro';
// Component Imports
import { NewUrlFormContainer } from '@/components/NewUrlForm';
---

<Layout content={{ title: "MicroUrl" }}>
	<div class="grid place-items-center h-screen content-center">
		<NewUrlFormContainer client:load />
	</div>
</Layout>
