---
import Layout from '@/layouts/Layout.astro';
// Component Imports
import { NewUrlForm } from '@/components/NewUrlForm.tsx';
---

<Layout content={{ title: "MicroUrl" }}>
	<div class="grid place-items-center h-screen content-center">
		<NewUrlForm client:load />
	</div>
</Layout>
