name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "pnpm"

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - run: pnpm install --frozen-lockfile

      - name: Restore NX cache
        id: cache-nx-restore
        uses: actions/cache/restore@v4
        with:
          path: .nx/cache
          key: ${{ runner.os }}-nx

      # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
      # Nx Affected runs only tasks affected by the changes in this PR/commit. Learn more: https://nx.dev/ci/features/affected
      - run: pnpm exec nx affected --base=origin/main --head=HEAD -t lint
      - run: pnpm exec nx affected --base=origin/main --head=HEAD -t test
      - run: pnpm exec nx affected --base=origin/main --head=HEAD -t build

      - name: Save NX cache
        id: cache-nx-save
        uses: actions/cache/save@v4
        with:
          path: .nx/cache
          key: ${{ steps.cache-nx-restore.outputs.cache-primary-key }}
